MAYAR_API_BASE=https://api.mayar.id/hl/v1
MAYAR_API_KEY=your_mayar_jwt_api_key_here
MAYAR_DEFAULT_EMAIL=your@email.com
MAYAR_DEFAULT_MOBILE=08xxxxxxxxxx
APP_BASE_URL=https://yourdomain.com
CORS_ORIGINS=http://localhost:8080,https://mybagasi.vercel.app,https://43.129.54.5.nip.io
